
@{
    ViewData["Title"] = "Abalone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <nav class="navbar navbar-light bg-light">
        <div class="mr-auto">
            <span class="">
                - White Score:
            </span>
            <span id="white_score">
                0
            </span>
            <span class="">
                - Black Score:
            </span>
            <span id="black_score">
                0
            </span>
            <span class="">
                - Move Left:
            </span>
            <span id="move_left">
                0
            </span>
        </div>
        <div class="ml-auto">
            <button id="terminate_btn" type="button" class="btn btn-danger">Terminate</button>
        </div>
    </nav>
</div>
<div id="game_board_container">

</div>

<div class="modal fade" id="create_game_modal" tabindex="-1" role="dialog" aria-labelledby="createGameModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createGameModalLongTitle">Create New Game</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class='form-label-info'>
                        <label for="init-state" class="col-form-label">Initial board layout:</label>
                        <button type="button" class="btn btn-small" data-toggle="tooltip" data-placement="top" title="Starting layout of the game. Player is always in black.">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="form-row" id="init-state">
                        <div class="form-check form-column">
                            <image class="form-selection-image" src=@Href("~/img/standard.png") />
                            <div class="form-row">
                                <div>
                                    <input class="form-check-input" type="radio" value="1" name="init_state_radio" id="init_state_radio1" checked>
                                </div>
                                <div>
                                    <label class="form-check-label" for="init_state_radio1">
                                        Standard
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-check form-column">
                            <image class="form-selection-image" src=@Href("~/img/german_daisy.png") />
                            <div class="form-row">
                                <div>
                                    <input class="form-check-input" type="radio" value="2"  name="init_state_radio" id="init_state_radio2">
                                </div>
                                <div>
                                    <label class="form-check-label" for="init_state_radio2">
                                        German Daisy
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-check form-column">
                            <image class="form-selection-image" src=@Href("~/img/belgian_daisy.png") />
                            <div class="form-row">
                                <div>
                                    <input class="form-check-input" type="radio" value="3"  name="init_state_radio" id="init_state_radio3">
                                </div>
                                <div>
                                    <label class="form-check-label" for="init_state_radio3">
                                        Belgian Daisy
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class='form-label-info'>
                        <label for="max_move" class="col-form-label">Maxium moves:</label>
                        <button type="button" class="btn btn-small" data-toggle="tooltip" data-placement="top" title="Maximum moves allowed for both players until the game finishes. Minimum is 10 moves.">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </button>
                    </div>
                    <input type="number" class="form-control" id="max_move" min="10" step="1" value="10">
                </div>
                <div class="form-group">
                    <div class='form-label-info'>
                        <label for="ai_time" class="col-form-label">AI search time (sec):</label>
                        <button type="button" class="btn btn-small" data-toggle="tooltip" data-placement="top" title="How many seconds you allow AI to search for the next move. AI will become stronger if they are given longer time. Minimum is 2 seconds.">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </button>
                    </div>
                    <input type="number" class="form-control" id="ai_time" min="2" max="30" step="1" value="2">
                </div>
            </div>
            <div class="modal-footer">
                <button id="start_btn" type="button" class="btn btn-primary">Start</button>
            </div>
        </div>
    </div>
</div>
